/* PICBOX */

#pbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
    background: #000;
	cursor: pointer;
}

#pbCloseBtn {
	position: fixed;
	right: 0;
	top: 0;
	display: block;
	width: 50px;
	height: 50px;
	background: url(closebutton.png) no-repeat top left;
}

.pbLoading {
	background: #000 url(loading.gif) no-repeat center !important;
}

#pbImage, #pbBottomContainer {
	position: fixed;
	z-index: 9999;
	overflow: hidden;
}

#pbImage {
	border: none;
	background: #000 no-repeat;
	-moz-box-shadow: 0 0 40px #000;
	-webkit-box-shadow: 0 0 40px #000;
	box-shadow: 0 0 40px #000;
	cursor: move;
}

#pbBottomContainer {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	color: #EEE;
	line-height: 1.4em;
	width: 100%;
	bottom: 10px;
	left: 0;
}

#pbBottom {
	width: 300px;
	margin: auto;
}

#pbCaption {
	font-weight: bold;
	margin-bottom: 20px
}

#pbCaptionBg {
	background-color: #000;
	position: relative;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#pbNav {
	display: block;
	width: 200px;
	margin: auto;
	margin-top: 5px;
}

/* ie6 only */
#pbNav a:link, #pbNav a:visited {
	color: #FFF;
}
/*          */

#pbNav > * {
	display: inline-block;
	width: 70px;
	height: 65px;
	outline: none;
	text-indent: -9000px;
	background: url(navbtns.png) no-repeat;
}

#pbPrevLink {
	background-position: -70px 0;
	float: left;
}

#pbPrevLink.greyed {
	background-position: 0 0;
}

#pbNextLink {
	background-position: -260px 0;
	float: right;
}

#pbNextLink.greyed {
	background-position: -330px;
}

#pbZoomBtn {
	width: 60px;
	background-position: -140px 0;
	margin: auto;
}

#pbZoomBtn.zoomed {
	background-position: -200px 0;
}

/* END PICBOX */